* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #033653;
}

.App .navbar {
  margin-top: 1px;
}
.App button:hover {
  opacity: 0.3;
}
 
.categoryList {
  border: 1px solid grey;
  font-weight: bold;
  width: 100px;
  margin-left: 300px;
}

.categoryList li {
  list-style: none;
  color: black;
  cursor: pointer;
}

.categoryList li:hover {
 opacity: 0.3;
}

.AnimationCard h2, .ComedyCard h2, .ClassicCard h2 {
  font-weight: bold;
  text-align: center;
  color: black;
}

.AnimationCard, .ComedyCard, .ClassicCard {
  border: 1px solid purple;
  padding: 10px 0;
  width: 100%;
}

.AnimationCard button, .ComedyCard button, .ClassicCard button {
  position: absolute;
  right: 100px;
  bottom: 40%; 
}

.AnimationCard .container, .ComedyCard .container, .ClassicCard .container {
  margin: auto;
}

.ComedyCard, .AnimationCard, .ClassicCard {
  position: relative;
}



